html, body {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #E4572E;
}

a:active {
  text-decoration: none;
  color: black;
}


.nav-link, .nav-link:visited, .nav-link:active {
  text-decoration: none;
  font-weight: 600;
  color: #2E8665 !important;
}

.nav-link:hover {
  text-decoration: none;
  color: #2BC016 !important;
}

h1 {
  font-weight: 600;
}

#pageHeader {
  text-align: center;
  font-family: 'Yatra One', cursive;
  font-size: 64px;
  color: #F3FFF2;
  /* font-family: 'Judson', serif; */
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
}

h6 {
  font-family: 'Cinzel', serif;
}

.jumbotron {
  margin-bottom: 0px;
  background-color: #26A96C; 
  background-image: url("../images/header-trees-small.jpg");
}

.navbar {
  background-color: #F3FFF2;
  color: #2E8665;
  text-transform: uppercase;
  min-height: 60px;
  border-top: 2px #26A96C solid;
  border-bottom: 2px #26A96C solid;
}

.container {
  width: 100vw; 
}

nav {
  margin-top: 0px;
  width: 100%;
}

.col-9 {
  padding-top: 20px;
  /* background-color: #2BC016; */
}

.col-3 {
  padding-top: 20px;
  /* background-color: #387D7A; */
}

#main-row {
  min-height: 80vh;
}

/* Leave footer CSS at the bottom */
/*----------------------------------------------*/
/* Sticky footer positioning and to get rid of weird L-R scroll bar */
html, body {
	height: 100%;
	overflow-x: hidden;
}

/* Wrapper for page content to push down footer */
  #wrap {
	min-height: 100vh;
	height: auto;
	/* Negative indent footer by its height */
	/* margin: 0px auto -40px; */
	/* Pad bottom by footer height */
	padding: 0px 0px;   
}  

/* Sticky footer styling! */
#footer {
	/* Must match margin-bottom in .wrapper CSS */
	/* Set the fixed height of the footer here */
  height: 40px;
  background-color: #395E66;
  color: black;
	overflow: auto;
	margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
  border-top: 1px solid black;
  text-align: center;
}

#footer p {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  margin-bottom: 0;
}