html,
body {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: #2BC016
}

a:active {
    text-decoration: none;
    color: black;
}

.nav-link,
.nav-link:visited,
.nav-link:active {
    text-decoration: none;
    font-weight: 600;
    color: #2E8665 !important;
}

.nav-link:hover {
    text-decoration: none;
    color: #2BC016 !important;
}

.dropdown-item,
.dropdown-item:visited,
.dropdown-item:active {
    text-decoration: none;
    color: #2E8665 !important;
}

.dropdown-item:hover {
    text-decoration: none;
    color: #2BC016 !important;
}

#lock-icon,
#lock-icon:visited,
#lock-icon:active,
#lock-icon:hover {
    text-decoration: none;
    color: #2E8665 !important;
    font-size: 14px;
}

h1 {
    font-weight: 600;
}

h2, h4 {
    font-weight: 600;
    padding: 20px;
    /* Add some sort of (non-bold?) underline */
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#pageHeader {
    text-align: center;
    font-family: 'Yatra One', cursive;
    font-size: 64px;
    color: #EDF2F1;
    text-shadow: 1px 2px 2px #133629, -1px -1px 0 #395E66, 1px -1px 0 #395E66, -1px 1px 0 #395E66, 1px 1px 0 #395E66;
    /* text-shadow: 1px 3px 3px #133629;   */
    /* font-family: 'Judson', serif; */
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}

.jumbotron {
    position: relative;
    margin-bottom: 0px;
    background-color: #26A96C;
    background-image: url("../images/header-trees-small.jpg");
}

.fa {
    padding: 5px;
}

.fa,
.fa:visited,
.fa:active {
    text-decoration: none;
    color: #2E8665 !important;
}

.fa:hover {
    text-decoration: none;
    color: #2BC016 !important;
}

.jumbotron h5 {
    text-align: right;
    padding-right: 20vw;
    font-family: 'Enriqueta', serif;
    color: #EDF2F1;
    text-shadow: -1px -1px 0 #395E66, 1px -1px 0 #395E66, -1px 1px 0 #395E66, 1px 1px 0 #395E66;
}

.navbar {
    background-color: #FFFFFF;
    color: #FFFFFF;
    text-transform: uppercase;
    min-height: 60px;
    border-top: 2px #26A96C solid;
    border-bottom: 2px #26A96C solid;
}

.container {
    width: 100vw;
}

nav {
    margin-top: 0px;
    width: 100%;
}

.main {
    padding-top: 20px;
    /* background-color: #2BC016; */
}

.sidebar,
.content {
    padding: 0px;
    background-color: #387D7A;
}

#sidebar-content,
#main-content {
    border: 1px #395E66 solid;
    background-color: #FFFFFF;
    ;
    margin: 10px;
    text-align: center;
    min-height: 95vh;
    max-height: 95vh;
    width: auto;
    overflow: auto;
}

#sidebar-content {
    padding: 10px;
    margin-left: 0px;
    overflow: hidden;
}

h5 {
  padding-top: 10px;
}

#main-content {
  padding: 10px 20px 10px 20px;
  overflow-y: scroll;
}

#nextdoor {
    width: 50px;
    height: 50px;
}

#pay-dues {
    color: #009F5F !important;
    font-size: 45px;
}

#map {
    color: #009F5F !important;
    font-size: 45px;
}

#map-pin {
    color: #009F5F !important;
}

#fahrenheit {
    font-size: .5rem;
    vertical-align: super;
}

.sidebar-links {
    position: relative;
}

.sidebar-links .hover-text {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    width: 90px;
    text-align: center;
    /* background-color: plum; */
    color: black;
    bottom: -10px;
}

.sidebar-links:hover .hover-text {
    visibility: visible;
}

#main-row {
    min-height: 80vh;
}

.modal {
    top: 50%;
    right: 20%;
    display: inline;
    opacity: 1;
}

#failure-modal-title {
    margin: 15px auto 0px auto;
}

#google-map {
    min-width: 100%;
    min-height: 350px;
}

#google-calendar {
    width: 90%;
    min-height: 75vh;
    /* min-height: 300px; */
    border: 1px solid black;
}

.table {
  border: 1px solid #eceeef;
}

#board-member-table {
    text-align: left;
}

.table td,
.table th {
    text-align: center;
}

.table th {
  text-transform: uppercase;
}

.position {
  font-weight: 600;
}

.table-striped tbody tr:nth-of-type(odd){
  background-color: #D4FFED;
}

.gov-docs {
    border: 1px solid black;
    width: 200px;
    height: auto;
}

.arc-app {
    border: 1px solid black;
    width: 400px;
    height: auto;
}

.control-label {
  width: 20%;
  margin-top: 15px;
}

.form-control {
  width: 75%;
  margin-top: 10px;
  margin-right: 5%;
  height: 35px;
  float: right;
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
}

.pet-photo {
  float: left;
}

#pet-photo-default {
  width: 0px;
}

.contact-list {
  text-align: left;
}

.contact-header {
  text-align: center;
  font-weight: 600;
}

.purple-icon {
  padding: 0px 10px 0px 10px;
}

.purple-icon, 
.purple-icon:active, 
.purple-icon:visited {
  color: #650052 !important;
}

.purple-icon:hover {
  color: #CB00A4 !important;
}

.modal {
    position: fixed;
    top: 10px;
    right: 100px;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
}

.modal-dialog {
  top: 150px;
}

.modal-pdf {
    width: 100% !important;
    height: 500px;
}

.modal-close {
    cursor: pointer;
}

.modal-footer {
    padding: 15px 15px 0px 15px;
}

.modal-title {
    margin: 0px auto;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}


/* Leave footer CSS at the bottom */


/*----------------------------------------------*/


/* Sticky footer positioning and to get rid of weird L-R scroll bar */

html,
body {
    height: 100%;
    overflow-x: hidden;
}


/* Wrapper for page content to push down footer */

#wrap {
    min-height: 105vh;
    height: auto;
    /* Negative indent footer by its height */
    /* margin: 0px auto -40px; */
    /* Pad bottom by footer height */
    padding: 0px 0px;
}


/* Sticky footer styling! */

#footer {
    /* Must match margin-bottom in .wrapper CSS */
    /* Set the fixed height of the footer here */
    height: 35px;
    background-color: #98007B;
    color: plum;
    overflow: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 7px;
    border-top: 1px solid #395E66;
    text-align: center;
}

#footer p {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    margin-bottom: 0;
}

#footer p a:hover {
    color: plum;
    text-transform: uppercase;
}