html,
body {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
  color: black;
}

.nav-link,
.nav-link:visited,
.nav-link:active {
  text-decoration: none;
  font-weight: 600;
  color: #2E8665 !important;
}

.nav-link:hover {
  text-decoration: none;
  color: #2BC016 !important;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 600;
  /* Add some sort of (non-bold?) underline */
}

#pageHeader {
  text-align: center;
  font-family: 'Yatra One', cursive;
  font-size: 64px;
  color: #EDF2F1;
  text-shadow: 1px 2px 2px #133629, -1px -1px 0 #395E66, 1px -1px 0 #395E66, -1px 1px 0 #395E66, 1px 1px 0 #395E66;
  /* text-shadow: 1px 3px 3px #133629;   */
  /* font-family: 'Judson', serif; */
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}

.jumbotron {
  position: relative;
  margin-bottom: 0px;
  background-color: #26A96C;
  background-image: url("../images/header-trees-small.jpg");
}

#auth-panel {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  color: #2E8665;
  min-width: 100px;
  min-height: 30px;
  overflow: auto;
  padding: 5px;
  border: 2px #26A96C solid;
}

.fa {
  padding: 5px;
}

.fa,
.fa:visited,
.fa:active {
  text-decoration: none;
  color: #2E8665 !important;
}

.fa:hover {
  text-decoration: none;
  color: #2BC016 !important;
}

.jumbotron h5 {
  text-align: right;
  padding-right: 20vw;
  font-family: 'Enriqueta', serif;
  color: #EDF2F1;
  text-shadow: -1px -1px 0 #395E66, 1px -1px 0 #395E66, -1px 1px 0 #395E66, 1px 1px 0 #395E66;
}

.navbar {
  background-color: #FFFFFF;
  color: #FFFFFF;
  text-transform: uppercase;
  min-height: 60px;
  border-top: 2px #26A96C solid;
  border-bottom: 2px #26A96C solid;
}

.container {
  width: 100vw;
}

nav {
  margin-top: 0px;
  width: 100%;
}

.main {
  padding-top: 20px;
  /* background-color: #2BC016; */
}

.sidebar,
.content {
  padding: 0px;
  background-color: #387D7A;
}

#sidebar-content,
#main-content {
  border: 1px #395E66 solid;
  background-color: #FFFFFF;
  ;
  margin: 10px;
  text-align: center;
  padding: 10px;
  height: 95%;
  width: auto;
  overflow: auto;
}

#sidebar-content {
  margin-left: 0px;
}

#nextdoor {
  width: 50px;
  height: 50px;
}

#pay-dues {
  color: #009F5F !important;
  font-size: 45px;
}

#fahrenheit {
  font-size: .5rem;
  vertical-align: super;
}

.sidebar-links {
  position: relative;
}

.sidebar-links .hover-text {
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  width: 90px;
  background-color: plum;
  color: black;
  bottom: -20px;
  left: -15%;
  /* border-radius: 6px; */
}

.sidebar-links:hover .hover-text {
  visibility: visible;
}

#main-row {
  min-height: 80vh;
}

.modal {
  top: 50%;
  right: 20%;
  display: inline;
  opacity: 1;
}

#google-map {
  min-width: 300px;
  min-height: 225px;
}

#google-calendar {
  width: 90%;
  min-height: 70vh;
  /* min-height: 300px; */
  border: 1px solid black;
}

#board-member-table {
  text-align: left;
}

.gov-docs {
  border: 1px solid black;
  width: 200px;
  height: auto;
}

.card {
  width: 202px !important;
}

.modal {
   position: fixed;
   top: 10px;
   right: 100px;
   bottom: 0;
   left: 0;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;
}


.modal-pdf {
  width: 100% !important;
  height: 500px;
}

.modal-close {
  cursor:pointer;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}


/* Leave footer CSS at the bottom */


/*----------------------------------------------*/


/* Sticky footer positioning and to get rid of weird L-R scroll bar */

html,
body {
    height: 100%;
    overflow-x: hidden;
}


/* Wrapper for page content to push down footer */

#wrap {
    min-height: 105vh;
    height: auto;
    /* Negative indent footer by its height */
    /* margin: 0px auto -40px; */
    /* Pad bottom by footer height */
    padding: 0px 0px;
}


/* Sticky footer styling! */

#footer {
    /* Must match margin-bottom in .wrapper CSS */
    /* Set the fixed height of the footer here */
    height: 35px;
    background-color: #98007B;
    color: plum;
    overflow: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 7px;
    border-top: 1px solid #395E66;
    text-align: center;
}

#footer p {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    margin-bottom: 0;
}

#footer p a:hover {
  color: plum;
  text-transform: uppercase;
}